.profilePic{
  margin-top:10px;
  position:relative;
  width:100px;
  max-width: 200px;
  /* text-align: center; */
  /* margin-left: 5%; */
}
body{
  margin:0;
  font-family: 'Sulphur Point';
  text-align:center;
  /* font-size: xx-large; */
  background-color:rgb(24,26,27);
  color: skyblue;
}
.topDiv{
  
  padding-top:59px;
  text-align: center;
  background-color: cyan;
  color:black;
  width:auto;
}
.reminderd {
  width:10%;
}

.botImage{
  position:relative;
  width:10%;
  left:25%;
}
.topImage{
  position:relative;
  width:10%;
  right:25%;
}
h2,h3{
  font-family: 'Comic Sans MS';
  text-align: center;
  
}
p{
  text-align:center;
}
.mountainImage{
  position:relative;
  bottom:0;
  width:50%;
  height:auto;
  display:block;
}

.footer-link{
  position:absolute;
  left:0%;
}
.hr{
  background-color: white;
}
.profile{
  /* text-align:center; */
  /* position:relative; */
  /* width:50%; */
  margin-left:auto;
  
}
.links{
  position:absolute;
  margin-left:25%;

}
.outerface{
  width:50%;
  position:relative;
  /* margin-left:auto; */
}
.reminder{
  /* text-align: unset; */
  /* position:relative; */
  width:20%;
  max-width: 200px;
  /* margin-left:30%; */
  /* margin-right:30%; */
  /* margin-right:20%; */
}
.project-management{
  width:20%;
  /* position:relative; */
  max-width: 200px;
  /* margin-left:10%; */
  /* margin-left:20%; */
  /* margin-right:20%; */
}
.card-deck{
  margin-right: 0px;
  margin-left: 0px;
}