body{
  margin:0;
  font-family: 'Sulphur Point';
  text-align:center;
}
.topDiv{
  height:auto;
  padding-top:59px;
  text-align: center;
  background-color: cyan;


}
.botImage{
  position:relative;
  width:25%;
  left:25%;
}
.topImage{
  position:relative;
  width:25%;
  right:25%;
}
h2,h3{
  font-family: 'Noto Serif', serif;
}
.mountainImage{
  position:relative;
  bottom:0;
  width:100%;
  height:auto;
display:block;
}
